{{ message }}
{{ form_start(changePassword) }}
    {{ form_widget(changePassword.password) }}
    {{ form_widget(changePassword.confirmPassword) }}
    <button type="submit">Submit</button>
{{ form_end(changePassword) }}