<!DOCTYPE html>
<html lang="ru">
    <head>
        {{ include('include/head.html.twig') }}
        <title>{% block title %}Восстановление пароля{% endblock %}</title>
        {{ include('styles/authentication.html.twig') }}
        <style>
            {% if success %}
                .recover-form {
                    display: none;
                }
            {% endif %}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center min-vh-100 h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="container-authentication">
                        <div class="header">
                            <a href="{{ path('main_page') }}">
                                <i class="fas fa-angle-left"></i>
                                На главную страницу
                            </a>
                        </div>
                        <div class="body">
                            {{ form_start(recoverForm) }}
                                <div class="block-text">
                                    <div class="col-12 mx-auto">
                                        <h1>Личный кабинет</h1>
                                        <p>Восстановление пароля в пару кликов</p>
                                    </div>
                                    <div class="col-10 mx-auto">
                                        <img src="https://mc-cloudy.com/public/images/design/wavy-line.png" alt="Wavy line" class="img-fluid mb-2" draggable="false" />
                                    </div>
                                </div>

                                {% if message %}
                                    <p class="error"><i class="far fa-exclamation-square"></i>{{ message|raw }}</p>
                                {% endif %}

                                {% if success %}
                                    <p class="info col-12 col-lg-11 mx-auto">Мы отправили письмо на вашу почту с инструкцией по восстановлению пароля.</p>
                                {% endif %}

                                <div class="recover-form">
                                    <div class="col-12 col-lg-11 mx-auto">
                                        {{ form_widget(recoverForm.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Введите электронную почту'}}) }}
                                    </div>

                                    <p class="info col-12 col-lg-11 mx-auto">Введите адрес электронной почты, который был указан при регистрации аккаунта.</p>

                                    <div class="buttons d-flex col-12 mx-auto">
                                        <div id="row" style="margin: auto!important">
                                            <button class="col col-md-auto btn btn-primary disabled" type="submit">Восстановить пароль</button>
                                            <a href="{{ path('login') }}" class="col col-md-auto btn btn-secondary">Авторизоваться</a>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(recoverForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>