<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('components/head.html.twig') }}
    <title>{% block title %}Служба поддержки{% endblock %}</title>
</head>
<body>
    {{ include('components/preloader.html.twig') }}
    {{ include('components/badges.html.twig') }}
    {{ include('badges/badges.html.twig') }}

    <section id="main-content" class="landing-block landing-padding">
        <div class="container container-wiki">
            <div class="row">
                <div class="d-none d-xxl-block col-xxl-3 mb-4 mb-lg-0">
                    <div class="nav flex-column nav-pills">
                        <a class="nav-link {% if page == 'main' %} active {% endif %}" href="{{ path('support', {'page': 'main'}) }}">Вики Minecraft Cloudy</a>
                        <div class="divider"></div>
                        <a class="nav-link {% if page == 'faq' %} active {% endif %}" href="{{ path('support', {'page': 'faq'}) }}">Частые вопросы</a>
                        <a class="nav-link {% if page == 'profile' %} active {% endif %}" href="{{ path('support', {'page': 'profile'}) }}">Управление аккаунтом</a>
                        {% if app.user %}
                            <div class="divider"></div>
                            <a class="nav-link" href="{{ path('user_reports') }}">Мои тикеты</a>
                            <a class="nav-link" href="{{ path('create_report') }}">Создать тикет</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-xxl-9">
                    {% if page == 'faq' or page == 'profile' %}
                        <a class="d-xxl-none back" href="{{ path('support', {'page': 'main'}) }}">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.29289 13.7071C5.68342 14.0976 6.31658 14.0976 6.70711 13.7071C7.09763 13.3166 7.09763 12.6834 6.70711 12.2929L3.41421 9L15 9C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7L3.41421 7L6.70711 3.70711C7.09763 3.31658 7.09763 2.68342 6.70711 2.29289C6.31658 1.90237 5.68342 1.90237 5.29289 2.29289L0.292893 7.29289C-0.0976328 7.68342 -0.0976329 8.31658 0.292893 8.70711L5.29289 13.7071Z" fill="#79797A"></path></svg>
                            Вернуться назад
                        </a>
                    {% endif %}
                    <div class="wiki-display {% if page == 'main' %} d-block {% endif %}">
                        <div class="wiki-banner">
                            <h4>Вики Minecraft Cloudy</h4>
                            <p>Выберите необходимую вам категорию ниже, чтобы получить помощь по сайту.</p>
                        </div>

                        <div class="row">
                            <div class="col-12 col-xxl-8">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('vk') }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        <svg class="icon-primary" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 15.36C0 8.1192 0 4.49884 2.24942 2.24942C4.49884 0 8.1192 0 15.36 0H16.64C23.8808 0 27.5011 0 29.7506 2.24942C32 4.49884 32 8.1192 32 15.36V16.64C32 23.8808 32 27.5011 29.7506 29.7506C27.5011 32 23.8808 32 16.64 32H15.36C8.1192 32 4.49884 32 2.24942 29.7506C0 27.5011 0 23.8808 0 16.64V15.36Z" fill="#0077FF"></path><path d="M17.0265 23.0534C9.73317 23.0534 5.57324 18.0534 5.3999 9.7334H9.05324C9.17324 15.8401 11.8665 18.4267 13.9998 18.9601V9.7334H17.44V15.0001C19.5466 14.7734 21.7597 12.3734 22.5064 9.7334H25.9464C25.3731 12.9867 22.9731 15.3867 21.2664 16.3734C22.9731 17.1734 25.7066 19.2667 26.7466 23.0534H22.9598C22.1464 20.5201 20.12 18.5601 17.44 18.2934V23.0534H17.0265Z" fill="white"></path></svg>
                                                        Вконтакте
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 4C2 2.89543 2.89543 2 4 2H11C11.5523 2 12 1.55228 12 1C12 0.447715 11.5523 0 11 0H4C1.79086 0 0 1.79086 0 4V18C0 20.2091 1.79086 22 4 22H18C20.2091 22 22 20.2091 22 18V11C22 10.4477 21.5523 10 21 10C20.4477 10 20 10.4477 20 11V18C20 19.1046 19.1046 20 18 20H4C2.89543 20 2 19.1046 2 18V4Z"></path><path d="M15 0C14.4477 0 14 0.447715 14 1C14 1.55228 14.4477 2 15 2H18.5858L6.29289 14.2929C5.90237 14.6834 5.90237 15.3166 6.29289 15.7071C6.68342 16.0976 7.31658 16.0976 7.70711 15.7071L20 3.41421V7C20 7.55228 20.4477 8 21 8C21.5523 8 22 7.55228 22 7V1C22 0.447715 21.5523 0 21 0H15Z"></path></svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('discord') }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        <svg class="icon-primary" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.91065 5.98947C6.95022 5.06863 9.13735 4.3902 11.4241 4.00163C11.4658 3.99413 11.5074 4.01287 11.5288 4.05035C11.8101 4.54262 12.1217 5.18482 12.3399 5.68959C14.7995 5.32727 17.2464 5.32727 19.6556 5.68959C19.8738 5.1736 20.1967 4.54262 20.4792 4.05035C20.5007 4.01412 20.5423 3.99538 20.5839 4.00163C22.8695 4.38896 25.0566 5.06739 27.0974 5.98947C27.1151 5.99696 27.1302 6.00947 27.1403 6.0257C31.2888 12.1242 32.4253 18.0727 31.8678 23.9475C31.8652 23.9762 31.8488 24.0037 31.8261 24.0212C29.0891 25.999 26.4377 27.1998 23.8356 27.9956C23.794 28.0081 23.7499 27.9931 23.7234 27.9594C23.1078 27.1323 22.5591 26.2602 22.0887 25.3431C22.0609 25.2894 22.0874 25.2257 22.1442 25.2044C23.0145 24.8796 23.8432 24.4835 24.6404 24.0337C24.7034 23.9975 24.7085 23.9087 24.6505 23.8663C24.4827 23.7426 24.3149 23.6139 24.1547 23.4839C24.1257 23.4602 24.0854 23.4552 24.0513 23.4702C18.8143 25.8229 13.1446 25.8229 7.9694 23.4702C7.93532 23.454 7.89494 23.459 7.8647 23.4827C7.70447 23.6126 7.53672 23.7426 7.36771 23.8663C7.3097 23.9087 7.31349 23.9975 7.37654 24.0337C8.1737 24.4922 9.00241 24.8796 9.87398 25.2032C9.93073 25.2244 9.95597 25.2894 9.9282 25.3431C9.44766 26.2589 8.89897 27.131 8.29481 27.9582C8.26957 27.9931 8.22418 28.0081 8.18254 27.9956C5.56782 27.1998 2.91651 25.999 0.179427 24.0212C0.155449 24.0037 0.140306 23.9775 0.137782 23.9488C-0.529441 17.1568 1.25535 11.2571 4.86905 6.02694C4.87788 6.00947 4.89298 5.99696 4.91065 5.98947ZM21.3066 20.3704C22.8833 20.3704 24.1825 18.946 24.1825 17.1968C24.1825 15.4476 22.9085 14.0233 21.3066 14.0233C19.6922 14.0233 18.4056 15.4601 18.4308 17.1968C18.4308 18.946 19.7048 20.3704 21.3066 20.3704ZM10.6737 20.3704C12.2503 20.3704 13.5495 18.946 13.5495 17.1968C13.5495 15.4476 12.2756 14.0233 10.6737 14.0233C9.05916 14.0233 7.77262 15.4601 7.79781 17.1968C7.79781 18.946 9.05916 20.3704 10.6737 20.3704Z" fill="#5865F2"></path></svg>
                                                        Discord
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 4C2 2.89543 2.89543 2 4 2H11C11.5523 2 12 1.55228 12 1C12 0.447715 11.5523 0 11 0H4C1.79086 0 0 1.79086 0 4V18C0 20.2091 1.79086 22 4 22H18C20.2091 22 22 20.2091 22 18V11C22 10.4477 21.5523 10 21 10C20.4477 10 20 10.4477 20 11V18C20 19.1046 19.1046 20 18 20H4C2.89543 20 2 19.1046 2 18V4Z"></path><path d="M15 0C14.4477 0 14 0.447715 14 1C14 1.55228 14.4477 2 15 2H18.5858L6.29289 14.2929C5.90237 14.6834 5.90237 15.3166 6.29289 15.7071C6.68342 16.0976 7.31658 16.0976 7.70711 15.7071L20 3.41421V7C20 7.55228 20.4477 8 21 8C21.5523 8 22 7.55228 22 7V1C22 0.447715 21.5523 0 21 0H15Z"></path></svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('support', {'page': 'faq'}) }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        Частые вопросы
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                </span>
                                                <p class="col-10">Ответы на постоянные и важные вопросы</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('support', {'page': 'profile'}) }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        Управление аккаунтом
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                </span>
                                                <p class="col-10">Помощь по изменению данных и скина персонажа</p>
                                            </span>
                                        </a>
                                    </div>
                                    {% if app.user %}
                                        <div class="col-12 col-lg-6">
                                            <a class="wiki-link mt-4" href="{{ path('user_reports') }}">
                                                <span class="wiki-content">
                                                    <span class="wiki-link-header">
                                                        <span>
                                                            Мои тикеты
                                                        </span>
                                                        <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                    </span>
                                                    <p class="col-10">Ваши обращения в службу поддержки</p>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <a class="wiki-link mt-4" href="{{ path('create_report') }}">
                                                <span class="wiki-content">
                                                    <span class="wiki-link-header">
                                                        <span>
                                                            Создать тикет
                                                        </span>
                                                        <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                    </span>
                                                    <p class="col-10">Написать новое обращение администраторам</p>
                                                </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-none d-xxl-block col-xxl-4 mx-auto">
                                <div class="row">
                                    <div class="col-10 mx-auto">
                                        <img src="https://mc-cloudy.com/public/images/faq.webp" class="img-fluid mt-2" alt="Support Minecraft Cloudy" draggable="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wiki-display {% if page == 'faq' %} d-block {% endif %}">
                        <h3>Для чего нужна регистрация на сайте?</h3>
                        <p>Регистрируясь на сайте, вы создаёте единый аккаунт на проекте, который будет использоваться для авторизации на наших серверах. Помимо этого, вы можете использовать дополнительный функционал: изменение скина вашего персонажа и персональных данных, связь с модераторами через службу поддержки, восстановление пароля и другое.</p>

                        <h3>Как создать новый аккаунт?</h3>
                        <p>Для регистрации аккаунта вам необходимо посетить <a href="{{ path('register') }}" class="secondary">эту страницу</a>. После создания аккаунта, обязательно подтвердите свою почту, используя ссылку в письме, которое мы вам вышлем.</p>

                        <h3>Что делать, если на почту не пришло письмо?</h3>
                        <p><a href="{{ path('send_email_confirmation') }}" class="secondary">Нажмите сюда</a>, чтобы мы отправили вам письмо для подтверждения аккаунта ещё раз. Если письмо не придёт в течение 10-15 минут, смените почту на другую, для этого - <a href="{{ path('send_email_confirmation') }}" class="secondary">нажмите здесь</a>.</p>
                    </div>
                    <div class="wiki-display {% if page == 'profile' %} d-block {% endif %}">
                        <h3>Как сменить скин персонажа?</h3>
                        <p>Для смены скина вашего персонажа, необходимо перейти в <a href="{{ path('profile') }}" class="secondary">профиль</a>, найти там <b>Изменение скина персонажа</b> и нажать на окошко <b>Выбрать файл</b>. Найдите в проводнике необходимый файл скина размером <b>64х32</b>, формата - <b>.png</b>, и выберите его. После этого нажмите на кнопку <b>Сохранить изменения</b>. Ваш скин будет установлен в течение 30 минут, но, чаще всего, этот процесс занимает несколько секунд.</p>

                        <h3>Как сменить пароль от аккаунта?</h3>
                        <p>Для смены пароля от вашего аккаунта, необходимо перейти в <a href="{{ path('profile') }}" class="secondary">профиль</a> и найти там <b>Изменение данных аккаунта</b>. В поле <b>Введите новый пароль</b> укажите тот пароль, который хотите установить, затем подтвердите свои действия, используя кнопку - <b>Сохранить изменения</b>.</p>

                        <h3>Как сменить почту от аккаунта?</h3>
                        <p>Для смены почты вам так же необходимо перейти в <a href="{{ path('profile') }}" class="secondary">профиль</a> и найти там <b>Изменение данных аккаунта</b>. И уже в поле <b>Введите новую почту</b> укажите ту почту, которую хотите установить, затем подтвердите свои действия, используя кнопку - <b>Сохранить изменения</b>. На новый адрес электронной почты придёт письмо для подтверждения ваших действий. Перейдите по ссылке, которую мы вам отправим и почта будет автоматически изменена на новую.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('components/footer.html.twig') }}
</body>
