<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}Наши сервера{% endblock %}</title>
</head>
<body>
    {{ include('include/preloader.html.twig') }}
    {{ include('include/nav.html.twig') }}

    <section class="banner-image flex wow animate__animated animate__fadeIn" style="background: url('https://mc-cloudy.com/public/images/header-background.webp') no-repeat top; background-size: cover"></section>

    <div class="container-fluid bg-white wow animate__animated animate__fadeInRight">
        <div class="container block-title pt-5">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1>Список наших серверов</h1>
                    <p>Разработано с любовью, ведь мы любим то, чем занимаемся</p>
                </div>
                <div class="col-10 col-lg-4 mx-auto">
                    <img src="https://mc-cloudy.com/public/images/design/wavy-line.png" alt="Wavy line" class="img-fluid" draggable="false" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-content pt-4 wow animate__animated animate__fadeInLeft">
        <div class="landing-block p-0">
            <div class="container">
                <div class="landing-wrapper">
                    <div class="row m-0">
                        <div class="col-12 col-lg-6 order-1 d-flex align-items-center">
                            <div class="block-text block-server">
                                <h2 class="mb-0">Цивилизация <span>— Онлайн</span><span class="d-none d-md-inline-block icon" data-toggle="tooltip" data-placement="top" title="Для получения доступа к серверу необходимо зарегистрировать аккаунт"><i class="far fa-info-circle"></i></span></h2>
                                <h3>1.18.2 ‣ 8000х8000</h3>
                                <p>Это политический сервер с уникальной реализацией градостроения, в которой автоматизированы процессы создания и управления собственным городом, казной и его территориями.</p>
                                <p>На сервере присутствует новейшая система жажды, а также более сложные крафты, новые виды еды, уникальная экономика и система навыков персонажа.</p>
                                <ul>
                                    <li>IP сервера: <b>95.216.92.82:25757</b></li>
                                </ul>
                                <div class="row group-buttons">
                                    <a href="{{ path('server_rules', {'server_tag': 'civilization'}) }}" class="btn btn-primary col-12 col-md-auto">Правила сервера</a>
                                    <a href="{{ path('phoenix_map') }}" class="btn btn-secondary col-12 col-md-auto">Интерактивная карта</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 order-2 mt-lg-0">
                            <img src="https://mc-cloudy.com/public/images/civilization.webp" alt="Phoenix image" class="rounded img-fluid server" style="transform: rotate(2deg)" draggable="false" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-content border-top wow animate__animated animate__fadeInRight">
        <div class="landing-block p-0">
            <div class="container">
                <div class="landing-wrapper">
                    <div class="row m-0">
                        <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex align-items-center">
                            <div class="ms-xl-5 block-text block-server">
                                <h5>Сервер приостановлен</h5>
                                <h2 class="mb-0">Феникс <span>— Недоступен</span><span class="d-none d-md-inline-block icon" data-toggle="tooltip" data-placement="top" title="Для получения доступа к серверу необходимо зарегистрировать аккаунт"><i class="far fa-info-circle"></i></span></h2>
                                <p>Это классический сервер с экономикой, приватами, работами, системой PvP и прочим, чтобы каждый игрок мог насладиться классикой Майнкрафта.</p>
                                <p>На сервере вы встретите только дружелюбные плагины, а также активное и дружное сообщество игроков, которые обязательно станут вашими друзьями.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 order-2 order-lg-1">
                            <img src="https://mc-cloudy.com/public/images/phoenix.webp" alt="Civilization image" class="rounded img-fluid server" style="transform: rotate(-2deg)" draggable="false" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('include/footer.html.twig') }}
</body>
