<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}Правила сервера{% endblock %}</title>
</head>
<body>
    {{ include('include/preloader.html.twig') }}
    {{ include('include/nav.html.twig') }}
    {{ include('badges/header.html.twig') }}

    <div class="container-fluid bg-white wow animate__animated animate__fadeInLeft">
        <div class="container block-title text-center">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1>Правила игрового сервера</h1>
                    <p>Правила написаны как гайд по серверу, который интересно и легко прочитать</p>
                </div>
                <div class="col-10 col-lg-4 mx-auto">
                    <img src="https://mc-cloudy.com/public/images/design/wavy-line.png" alt="Wavy line" class="img-fluid" draggable="false" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid landing-block landing-padding bg-white">
        <div class="container container-rules">
            <div class="row">
                <div class="d-none d-xl-block col-xl-3 mb-4 mb-lg-0">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true">Игровой процесс</button>
                        <button class="nav-link" id="v-pills-2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false">Игровые чаты</button>
                        <button class="nav-link" id="v-pills-3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false">Примечания</button>
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <a class="d-xl-none back" href="{{ path('our_servers') }}">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.29289 13.7071C5.68342 14.0976 6.31658 14.0976 6.70711 13.7071C7.09763 13.3166 7.09763 12.6834 6.70711 12.2929L3.41421 9L15 9C15.5523 9 16 8.55228 16 8C16 7.44772 15.5523 7 15 7L3.41421 7L6.70711 3.70711C7.09763 3.31658 7.09763 2.68342 6.70711 2.29289C6.31658 1.90237 5.68342 1.90237 5.29289 2.29289L0.292893 7.29289C-0.0976328 7.68342 -0.0976329 8.31658 0.292893 8.70711L5.29289 13.7071Z" fill="#79797A"></path></svg>
                        Вернуться назад
                    </a>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active wow animate__animated animate__fadeIn" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                            <h4>1. Запрещено создавать аккаунты с игровыми никнеймами, которые содержат:</h4>
                            <ul>
                                <li>эротический или аморальный характер;</li>
                                <li>оскорбления или нецензурные выражения;</li>
                                <li>информацию разжигающую межнациональную рознь;</li>
                                <li>рекламу сторонних проектов.</li>
                            </ul>
                            <p>Наказание: перманентная блокировка аккаунта.</p>

                            <div class="divider"></div>

                            <h4>2. Запрещено использование дюпов, ошибок, багов, любых сторонних программ, в том числе ресурспаков, дающих дополнительные преимущества в игре или наносящие вред игровому процессу и серверу.</h4>
                            <p>Наказание: перманентная блокировка аккаунта.</p>

                            <div class="divider"></div>

                            <h4>3. Запрещено использовать в названиях предметов, животных и так далее надписи, которые содержат:</h4>
                            <ul>
                                <li>оскорбления участников игрового процесса;</li>
                                <li>информацию разжигающую межнациональную рознь;</li>
                                <li>рекламу сторонних проектов.</li>
                            </ul>
                            <p>Наказание: блокировка аккаунта на 24 часа, удаление предмета/животного/надписи.</p>

                            <div class="divider"></div>

                            <h4>4. Запрещено намеренно портить внешний вид миров, а также размещать объекты и постройки:</h4>
                            <ul>
                                <li>создающие избыточную нагрузку на сервер;</li>
                                <li>имеющие форму чего–либо непристойного;</li>
                                <li>содержащие в себе оскорбления или нецензурные выражения;</li>
                                <li>рекламирующие сторонние проекты;</li>
                                <li>представляющие из себя нацистские символы;</li>
                                <li>прямо или косвенно нарушающие остальные правила проекта.</li>
                            </ul>
                            <p>Наказание: блокировка аккаунта на 24 часа, снос сооружения и восстановление внешнего вида мира.</p>

                            <div class="divider"></div>

                            <h4>5. Запрещено обходить ограничения PVP во время игрового процесса.</h4>
                            <p>Наказание: перманентная блокировка аккаунта.</p>

                            <div class="divider d-xl-none"></div>
                        </div>
                        <div class="tab-pane fade wow animate__animated animate__fadeIn" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                            <h4>6. Запрещены сообщения, представляющие из себя:</h4>
                            <ul>
                                <li>ложные сведения о вайпе;</li>
                                <li>спам и флуд;</li>
                                <li>любые виды попрошайничества у администрации;</li>
                                <li>публичная критика, оспаривание или обсуждение действий администрации;</li>
                                <li>подстрекательство, провокации, агрессивные действия с целью вызвать конфликт с администрацией;</li>
                                <li>любое упоминание дюпов, читов и прочих хитростей, вредящих игровому процессу;</li>
                                <li>эротический или аморальный характер;</li>
                                <li>оскорбления с упоминанием родных;</li>
                                <li>информацию, разжигающую межнациональную рознь;</li>
                                <li>рекламу и упоминание сторонних проектов;</li>
                                <li>нечитаемые системой символы;</li>
                                <li>подстрекание третьих лиц на нарушение правил;</li>
                                <li>угрозы расправой в реальной жизни.</li>
                            </ul>
                            <p>Наказание: блокировка доступа к текстовым чатам на 3 часа.</p>

                            <div class="divider"></div>

                            <h4>7. Запрещены такие действия в голосовом чате, как:</h4>
                            <ul>
                                <li>включение громких, надоедливых и неприятных остальным слушателям звуков в общественных местах;</li>
                                <li>все пункты правил текстового чата.</li>
                            </ul>
                            <p>Наказание: блокировка доступа к голосовому чату на 3 часа.</p>

                            <div class="divider d-xl-none"></div>
                        </div>
                        <div class="tab-pane fade wow animate__animated animate__fadeIn" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                            <h4>Дополнительные пункты:</h4>
                            <ol class="primary">
                                <li>Игрок лично несёт ответственность за свой аккаунт и обязуется соблюдать все надлежащие меры по обеспечению его безопасности.</li>
                                <li>При блокировке аккаунта, все игровые ценности не подлежат передаче другим игрокам или возврату.</li>
                                <li>Любые предметы игрока могут быть изъяты и удалены в случаях, если они были получены в результате ошибки в работе сервера.</li>
                                <li>Администрация вправе не возвращать вещи, потерянные в результате бага, отката, смерти игрока, нестабильной работы сервера.</li>
                                <li>Администрация вправе телепортировать, удалять неправомерные предметы, выдавать наказание игроку без объяснения причин.</li>
                                <li>Администрация вправе выдать перманентную блокировку аккаунту игрока за попытку избежания наказания.</li>
                                <li>Администрация вправе ограничить игроку доступ к серверу на время разрешения инцидента с нарушением игровых правил.</li>
                                <li>Администрация вправе выдать наказание игроку исходя из собственных рассуждений.</li>
                                <li>Игрок лично несет ответственность за вещи, находящиеся в его привате. В случае их кражи другим, добавленным в приват игроком, администрация не обязуется разбираться в этом инциденте.</li>
                                <li>Приватные чаты (личные сообщения) не модерируются, если вам кто–то мешает используйте команду: <b>/ignore</b>.</li>
                                <li>Модератор имеет право игнорировать сообщение от игроков, если в этом есть какая-либо причина.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('include/footer.html.twig') }}
</body>
