<!DOCTYPE html>
<html lang="ru">
<head>
  {{ include('include/head.html.twig') }}
  <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
  {{ include('include/preloader.html.twig') }}
  {{ include('include/header.html.twig') }}

  <main>
    <section class="banner">
      <div class="container banner__content">
        <h3 class="banner__title">History of Civilization</h3>
        <p class="banner__subtitle">Выживайте в суровом мире, возводите города, приводите новых поселенцев, управляйте налогами, казной и своими территориями, вершите судьбу в политическом пространстве</p>
        <a href="#server" class="btn btn--about">Подробнее о сервере</a>
        <p class="banner__text">Пиратка Java Edition 1.18.2</p>
      </div>
    </section>

    <section class="section" id="server">
      <div class="container display-grid-2">
        <div class="information">
          <p class="information__label">История длиной в четыре сезона</p>
          <h2 class="information__title">Лучший политический сервер</h2>
          <p class="information__text">Цивилизация - это сервер с уникальной реализацией градостроения, в котором автоматизированы процессы создания и управления собственным городом, казной, его территориями, поселенцами и их правами. На полноценную реализацию идеи сервера ушло более одного года. А главное - каждый может погрузиться в игровой процесс, ведь мы не продаём проходки.</p>
          <ul class="information__list">
            <li class="information__item">
              IP сервера: <span>95.216.92.82:25757</span>
            </li>
            <li class="information__item">
              Версия клиента: <span>1.18.2</span>
            </li>
          </ul>
          <div class="information__buttons">
            <a href="{{ path('rules') }}" class="btn btn--primary">Правила сервера</a>
            <a href="{{ path('map') }}" class="btn btn--secondary">Интерактивная карта</a>
          </div>
        </div>

        <img src="https://mc-cloudy.com/public/images/feature-04.webp" alt="Our servers" class="section__image" draggable="false" />
      </div>

      <div class="box-text">
        <span class="line"></span>
        <span class="text">Начни играть прямо сейчас</span>
        <span class="line"></span>
      </div>

      <div id="play" class="container feature">
        <ul class="feature__list">
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/e/e9/Book_and_Quill_JE2_BE2.png" alt="Register account" draggable="false">
            </div>
            <div class="feature__content">
              <h3 class="feature__title">Создание аккаунта</h3>
              <p class="feature__text"><a href="{{ path('register') }}">Нажмите здесь</a>, чтобы перейти к регистрации нового аккаунта.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/2/29/Banner_Pattern_JE1_BE1.png" alt="Confirmation email" draggable="false">
            </div>
            <div class="feature__content">
              <h3 class="feature__title">Подтверждение почты</h3>
              <p class="feature__text">Используйте ссылку в письме, которое вам пришло, для подтверждения почты.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/6/6f/Spyglass_(item)_JE3_BE1.png" alt="Run to the game" draggable="false">
            </div>
            <div class="feature__content">
              <h3 class="feature__title">Начало приключений</h3>
              <p class="feature__text">Скопируйте IP адрес сервера и окунитесь с головой в игру.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="section border border--top border--bottom">
      <div class="container display-grid-2 section--revert">
        <div class="information">
          <p class="information__label">Уникальные возможности</p>
          <h2 class="information__title">Поддержка голосового чата</h2>
          <p class="information__text">Наш сервер поддерживает работу голосового чата с 3D-аудио и множеством других функций. Мод опциональный, потому что серверная часть сделана через плагин, а клиентская - через мод.</p>
          <p class="information__text">Голосовой чат погружает и сближает с персонажами в игре — вы общаетесь с ними как в реальной жизни. Установите мод на голосовой чат и общайтесь с игроками без сторонних программ.</p>
          <ul class="information__list">
            <li class="information__item">
              Установка мода не обязательна для игры на сервере
            </li>
          </ul>
          <div class="information__buttons">
            <a href="https://www.curseforge.com/minecraft/mc-mods/plasmo-voice/download/3863789/file" class="btn btn--primary">Скачать для Forge</a>
            <a href="https://www.curseforge.com/minecraft/mc-mods/plasmo-voice/download/3863788/file" class="btn btn--secondary">Fabric версия мода</a>
          </div>
        </div>
        <img src="https://mc-cloudy.com/public/images/feature-02.webp" alt="Our servers" class="section__image" draggable="false" />
      </div>
    </section>

    <section class="section">
      <div class="container display-grid-2">
        <div class="information">
          <p class="information__label">Уклон в систему градостроения</p>
          <h2 class="information__title">Реализация творческих идей</h2>
          <p class="information__text">Цивилизация - это отличный сервер для реализации вашего творческого потенциала. Реализация системы градостроения направлена на воплощение творческих идей наших игроков!</p>
          <p class="information__text">Стройте от малых густонаселённых поселений до крупных городов с широкими улицами и прочей инфраструктурой. Станьте лучшим строителем в своём городе или нанимайтесь на работу в другие поселения. Покорите игровой мир своими красивыми сооружениями!</p>
          <a class="information__href" href="{{ path('discord') }}">Скриншоты игроков в Дискорде<i class="far fa-external-link-alt"></i></a>
        </div>
        <img src="https://mc-cloudy.com/public/images/feature-01.webp" alt="Our servers" class="section__image" draggable="false" />
      </div>

      <div class="box-text">
        <span class="line"></span>
        <span class="text">Прочие особенности сервера</span>
        <span class="line"></span>
      </div>

      <div class="container play">
        <ul class="feature__list">
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/d4/Bundle_JE2.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Заработок и профессия</p>
              <p class="feature__text">Каждый игрок может выбрать роль своему персонажу, улучшать его навыки и получать деньги за работу.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/2/26/Emerald_JE3_BE3.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Экономика и торговля</p>
              <p class="feature__text">Торгуйте с игроками, а на заработанные деньги оплачивайте налоги, улучшайте город и навыки персонажа.</p>
            </div>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/2/2f/Golden_Chestplate_(item)_JE3_BE3.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Города и войны</p>
              <p class="feature__text">Создавайте города, управляйте ими, улучшайте, набирайте жителей, соберите войско и атакуйте чужое государство.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/e/e0/Baked_Potato_JE4_BE2.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Жажда и новая еда</p>
              <p class="feature__text">Пейте воду, чтобы утолить жажду персонажа и готовьте новую еду для продажи в новопостроенной таверне.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/9/97/Flint_JE3_BE3.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Поэтапное развитие</p>
              <p class="feature__text">Постепенно открывайте для себя более продуктивные инструменты и добывайте руды, которые ранее были недоступны.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/8/89/Knowledge_Book_JE2.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Новые рецепты создания</p>
              <p class="feature__text">Ознакомьтесь с новыми рецептами создания рудных смесей, еды, декоративных блоков и прочих ресурсов.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/9/98/Villager_Spawn_Egg_JE2_BE1.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Отсутствие автоматизации</p>
              <p class="feature__text">На сервере нет жителей, а также запрещены любые виды автоматизации добычи ресурсов и подобных ферм.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/4/43/Lapis_Lazuli_JE2_BE2.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Система чарования</p>
              <p class="feature__text">Игрокам недоступна стандартная система получения книг, поэтому в ход идёт лазурит и чародейский стол.</p>
            </div>
          </li>
          <li class="feature__item">
            <div class="feature__image">
              <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/4/40/Goat_Horn_JE1_BE1.png" draggable="false">
            </div>
            <div class="feature__content">
              <p class="feature__title">Исправления и генерация</p>
              <p class="feature__text">Добавлена защита сида, которую невозможно взломать. Убраны странные привязки генерации структур по сиду.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>

  {{ include('include/footer.html.twig') }}

  <script type="javascript">
      menuBtn = document.querySelector(".navbar__button");
      menu = document.querySelector(".navbar__content");

      menuBtn.addEventListener("click", function (e) {
          menuBtn.classList.toggle("is-open");
          menu.classList.toggle("is-open");
      });
  </script>
</body>