<div class="box mt-4">
    <div class="box-header">
        <p class="box-title">Наши сервера</p>
    </div>
    <div class="box-body">
        {% if servers|length > 0 %}
            {% for server in servers %}
                <div id="server-{{ server.getTag() }}" class="box-item">
                    <a href="{{ path('server', {'server_tag': server.getTag()}) }}">
                        <div class="box-content server-{{ server.getId() }}-color">
                            <i class="{{ server.getIcon() }} fa-2x text-white"></i>
                            <div class="mr-auto social-link">
                                <p class="font-weight-medium">{{ server.getName() }}</p>
                                <p>{{ server.getType() }}</p>
                            </div>
                            <div class="icon ml-auto d-block d-lg-none d-xl-block">
                                <i class="fa-2x text-white {% if server.getStatus() == 0 %} {{ "fas fa-ban" }} {% elseif server.getStatus() == 1 %} {{ "fas fa-check-circle" }} {% else %} {{ "fas fa-exclamation-circle" }} {% endif %}"></i>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="box-item">
                <div class="box-content server-error-color">
                    <i class="fas fa-exclamation-circle fa-2x text-white"></i>
                    <div class="mr-auto social-link">
                        <p class="font-weight-medium">Техническая ошибка</p>
                        <p>Сервера не найдены</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>