<!DOCTYPE html>
<html class="page" lang="ru">
    <head>
        {{ include('include/head.html.twig') }}
        <title>{% block title %}Панель модератора{% endblock %}</title>
    </head>
    <body onload="InitPageTheme()">
        {% block body %}
            {{ include('include/nav.html.twig') }}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mt-4">
                                <div class="block">
                                    <div class="block-header d-flex">
                                        <p class="block-title"><i class="fas fa-tasks icon-margin-right"></i>Панель модератора</p>
                                    </div>
                                    <div class="block-body">
                                        <p class="block-text">
                                            Приветствую, <b>{{ moderator.getRealname() }}</b>! Ты один из нас, ты - часть команды <b>Minecraft Cloudy</b>!
                                            Мы движемся только вперёд, укомплектовывая штаб сотрудников, улучшая и продвигая наш продукт на просторах интернета.
                                          Оставайся с нами, мы обязательно прорвёмся и покорим сердца игроков Майнкрафта.
                                        </p>
                                        <p class="block-text mt-2">
                                            В нашей скромной, но уютной команде твоим наставником будет - <b>{{ mentor.getRealname() }}</b>, в игре у него ник: <b>{{ moderator.getMentor().getUsername() }}</b>.
                                            С <b>{{ moderator.getCreationDate().format('d.m.Y') }}</b> ты официально являешься модератором сервера <b>{{ moderator.getServer().getName() }}</b>.
                                        </p>
                                        <p class="block-text mt-2">
                                            Прислушивайся к своему ментору - наставнику, он обязательно поможет тебе освоиться и стать крутым модератором! А также, не забывай про рейтинг.
                                            Если он будет исчерпан - равен нулю, руководитель проекта будет вынужден попрощаться с тобой. Но он добрый, поэтому дарит тебе начальный рейтинг - <b>3 из 10</b>.
                                            Сейчас твой рейтинг: <b>{{ moderator.getRating() }} из 10</b>.
                                        </p>
                                        <p class="block-text mt-2">
                                            О том, как зарабатывать очки рейтинга, использовать полномочия модератора и многое другое, ты сможешь узнать в специально подготовленных статьях, которые расположены ниже.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <div class="block">
                                    <div class="block-header block-radius">
                                        <a class="block-moder" href="{{ path('moderator') }}">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <i class="fas fa-quote-right fa-2x"></i>
                                                <div class="mr-auto icon-margin-left">
                                                    <p class="font-weight-medium">Работа модератора</p>
                                                    <p>Суть работы модератором</p>
                                                </div>
                                                <div class="icon ml-auto d-none d-xl-block">
                                                    <i class="fas fa-file-alt fa-2x"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <div class="block">
                                    <div class="block-header block-radius">
                                        <a class="block-moder" href="{{ path('moderator') }}">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <i class="fas fa-keyboard fa-2x"></i>
                                                <div class="mr-auto icon-margin-left">
                                                    <p class="font-weight-medium">Команды модератора</p>
                                                    <p>Список доступных команд</p>
                                                </div>
                                                <div class="icon ml-auto d-none d-xl-block">
                                                    <i class="fas fa-file-alt fa-2x"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <div class="block">
                                    <div class="block-header block-radius">
                                        <a class="block-moder" href="{{ path('moderator') }}">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <i class="fas fa-layer-group fa-2x"></i>
                                                <div class="mr-auto icon-margin-left">
                                                    <p class="font-weight-medium">Система отчётов</p>
                                                    <p>О том как делать отчёты</p>
                                                </div>
                                                <div class="icon ml-auto d-none d-xl-block">
                                                    <i class="fas fa-file-alt fa-2x"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <div class="block">
                                    <div class="block-header block-radius">
                                        <a class="block-moder" href="{{ path('moderator') }}">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <i class="fas fa-star fa-2x"></i>
                                                <div class="mr-auto icon-margin-left">
                                                    <p class="font-weight-medium">Система рейтинга</p>
                                                    <p>О системе рейтинга</p>
                                                </div>
                                                <div class="icon ml-auto d-none d-xl-block">
                                                    <i class="fas fa-file-alt fa-2x"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ include('include/footer.html.twig') }}
            </div>
        {% endblock %}
    </body>
</html>