<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}Панель администратора{% endblock %}</title>
</head>
<body>
    {{ include('include/nav.html.twig') }}

    {{ include('badges/header.html.twig') }}

    <div class="container-fluid pt-5 bg-white d-none animate__animated animate__fadeInRight">
        <div class="container block-title text-center">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1>Панель администратора</h1>
                    <p>Добро пожаловать в панель управления, {{ app.user.getUsername() }}!</p>
                </div>
                <div class="col-10 col-lg-4 mx-auto">
                    <img src="https://mc-cloudy.com/public/images/design/wavy-line.png" alt="Wavy line" class="img-fluid" draggable="false" />
                </div>
            </div>
        </div>
    </div>

    <div id="main-content" class="container-fluid landing-block landing-padding bg-white">
        <div class="container container-wiki">
            <div class="row">
                <div class="d-none d-xxl-block col-xxl-3 mb-4 mb-lg-0">
                    <div class="nav flex-column nav-pills">
                        <a class="nav-link active" href="{{ path('admin') }}">Панель управления</a>
                        <div class="divider"></div>
                        <a class="nav-link" href="{{ path('admin_reports') }}">Служба поддержки</a>
                        <a class="nav-link" href="{{ path('admin_players') }}">Аккаунты игроков</a>
                        <div class="divider"></div>
                        <a class="nav-link" href="{{ path('admin_global') }}">Параметры сайта</a>
                    </div>
                </div>
                <div class="col-12 col-xxl-9 animate__animated animate__fadeIn">
                    <div class="wiki-display d-block">
                        <div class="wiki-banner">
                            <h4>Панель управления</h4>
                            <p>Выберите необходимую вам категорию ниже, чтобы перейти к ней.</p>
                        </div>

                        <div class="row">
                            <div class="col-12 col-xxl-8">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('admin_reports') }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        Служба поддержки
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                </span>
                                                <p class="col-10">Ответить на тикеты игроков</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('admin_players') }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        Аккаунты игроков
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                </span>
                                                <p class="col-10">Информация о аккаунтах</p>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <a class="wiki-link mt-4" href="{{ path('admin_global') }}">
                                            <span class="wiki-content">
                                                <span class="wiki-link-header">
                                                    <span>
                                                        Параметры сайта
                                                    </span>
                                                    <svg class="icon-secondary" width="18" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9807 0.260397C13.5723 -0.111308 12.9397 -0.0815071 12.5681 0.326971C12.1963 0.735433 12.2261 1.36789 12.6348 1.73961L18.4153 7.00001H1C0.447754 7.00001 0 7.44771 0 8.00001C0 8.5523 0.447754 9.00001 1 9.00001H18.4153L12.6348 14.2604C12.2261 14.6321 12.1963 15.2646 12.5681 15.673C12.9397 16.0815 13.5723 16.1113 13.9807 15.7396L21.6731 8.73961C21.8813 8.5501 22 8.28158 22 8.00001C22 7.71844 21.8813 7.44991 21.6731 7.2604L13.9807 0.260397Z"></path></svg>
                                                </span>
                                                <p class="col-10">Управление данными сайта</p>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-xxl-block col-xxl-4 mx-auto">
                                <div class="row">
                                    <div class="col-10 mx-auto">
                                        <img src="https://www.microsoftedgeinsider.com/_nuxt/img/support-faq.8ced590.png" class="img-fluid mt-2" alt="Support Minecraft Cloudy" draggable="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('include/footer.html.twig') }}
</body>
</html>
