<!DOCTYPE html>
<html class="page" lang="ru">
    <head>
        {{ include('include/head.html.twig') }}
        <title>{% block title %}Проверка объявлений{% endblock %}</title>
    </head>
    <body onload="InitPageTheme()">
        {{ include('include/nav.html.twig') }}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        {% if publications|length > 0 %}
                            {% for publication in publications %}
                                <div class="col-12 mt-4">
                                    <div class="block">
                                        <div class="block-header block-body-lands d-flex">
                                            <p class="block-title"><i class="{% if publication.getCategory().getIcon() != NULL %} {{ publication.getCategory().getIcon() | raw }} {% else %} fas fa-chalkboard-teacher {% endif %}" style="margin-right: 10px"></i>{{ publication.getCategory().getTitle() }}</p>
                                            <p class="block-title ml-auto d-none d-lg-inline-block"><i class="far fa-calendar-alt icon-margin-right"></i>{{ publication.getCreatedAt().format('d.m.Y H:i') }}</p>
                                        </div>
                                        <div class="block-body block-body-lands block-border-top">
                                            <h1 class="block-subtitle text-transform-none">{{ publication.getTitle() }}</h1>
                                            <p class="block-text">{{ publication.getText() }}</p>
                                        </div>
                                        {% if publication.getImages %}
                                            <div class="block-body block-body-lands block-border-top p-0">
                                                {% for image in publication.getImages %}
                                                    <img src="https://mc-cloudy.com/public/images/publications/{{ image|raw }}" class="img-fluid p-0" draggable="false" alt=""/>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div class="block-body block-body-lands block-border-top">
                                            <div class="d-lg-flex justify-content-lg-center align-items-lg-center">
                                                <div id="publication{{ publication.getId() }}">
                                                    <p class="block-text">
                                                        <b>Сервер:</b> {{ publication.getServer().getName() }}
                                                    </p>
                                                    <p class="block-text">
                                                        <b>Статус:</b>
                                                        {% if publication.getStatus() is null %} Ожидает рассмотрения
                                                        {% elseif publication.getStatus() == 1 %} Одобрено
                                                        {% elseif publication.getStatus() == 0 %} Не одобрено
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <div class="d-none d-lg-inline-block ml-auto">
                                                    {% if publication.getStatus() is null %}
                                                        <a href="{{ path('moderator_verify_publication', {'id': publication.getId()}) }}" class="button block-button-green"><i class="fas fa-check"></i></a>
                                                        <a href="{{ path('moderator_unverify_publication', {'id': publication.getId()}) }}" class="button block-button-orange icon-margin-left"><i class="fas fa-times"></i></a>
                                                    {% elseif publication.getStatus() == 0 %}
                                                        <a href="{{ path('moderator_verify_publication', {'id': publication.getId()}) }}" class="button block-button-green"><i class="fas fa-check"></i></a>
                                                    {% elseif publication.getStatus() == 1 %}
                                                        <a href="{{ path('moderator_unverify_publication', {'id': publication.getId()}) }}" class="button block-button-orange"><i class="fas fa-times"></i></a>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path('moderator_delete_publication', {'id': publication.getId()}) }}" class="button block-button-blue icon-margin-left"><i class="fas fa-trash"></i></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="d-inline-block d-lg-none d-flex justify-content-start align-items-start" style="margin-top: 5px">
                                                {% if publication.getStatus() is null %}
                                                    <a href="{{ path('moderator_verify_publication', {'id': publication.getId()}) }}" class="button block-button-green"><i class="fas fa-check"></i></a>
                                                    <a href="{{ path('moderator_unverify_publication', {'id': publication.getId()}) }}" class="button block-button-orange icon-margin-left"><i class="fas fa-times"></i></a>
                                                {% elseif publication.getStatus() == 0 %}
                                                    <a href="{{ path('moderator_verify_publication', {'id': publication.getId()}) }}" class="button block-button-green"><i class="fas fa-check"></i></a>
                                                {% elseif publication.getStatus() == 1 %}
                                                    <a href="{{ path('moderator_unverify_publication', {'id': publication.getId()}) }}" class="button block-button-orange"><i class="fas fa-times"></i></a>
                                                {% endif %}
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <a href="{{ path('moderator_delete_publication', {'id': publication.getId()}) }}" class="button block-button-blue icon-margin-left"><i class="fas fa-trash"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12 mt-4">
                                <div class="block">
                                    <div class="block-header">
                                        <p class="block-title"><i class="fas fa-chalkboard-teacher icon-margin-right"></i>Доска объявлений</p>
                                    </div>
                                    <div class="block-body justify-content-center align-items-center text-center">
                                        <i class="fas fa-eye-slash fa-3x mb-2" style="color: #e5534b"></i>
                                        <p class="block-title text-dark">Доска объявлений пуста</p>
                                        <p class="block-text">Нет публикаций в этой категории</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="box mt-4">
                                <div class="box-header">
                                    <div class="box-title">Быстрые фильтры</div>
                                </div>
                                <div class="box-body">
                                    <div class="box-item">
                                        <a href="{{ path('moderator_expected_publications') }}">
                                            <div class="d-flex justify-content-center align-items-center other-link background-red">
                                                <i class="fas fa-eye fa-2x text-white"></i>
                                                <div class="mr-auto social-link" style="padding-left: 16px">
                                                    <p class="font-weight-medium">Не рассмотренные</p>
                                                    <p>Ожидают модерации</p>
                                                </div>
                                                <div class="icon ml-auto d-block d-lg-none d-xl-block"><i class="fas fa-angle-right fa-2x text-white"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box-item">
                                        <a href="{{ path('moderator_verified_publications') }}">
                                            <div class="d-flex justify-content-center align-items-center other-link background-green">
                                                <i class="fas fa-check fa-2x text-white" style="margin-left: 2px"></i>
                                                <div class="mr-auto social-link" style="padding-left: 14px">
                                                    <p class="font-weight-medium">Опубликовано</p>
                                                    <p>Все одобренные</p>
                                                </div>
                                                <div class="icon ml-auto d-block d-lg-none d-xl-block"><i class="fas fa-angle-right fa-2x text-white"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box-item">
                                        <a href="{{ path('moderator_unverified_publications') }}">
                                            <div class="d-flex justify-content-center align-items-center other-link background-orange">
                                                <i class="fas fa-times fa-2x text-white" style="margin-left: 9px"></i>
                                                <div class="mr-auto social-link" style="padding-left: 19px">
                                                    <p class="font-weight-medium">Не опубликовано</p>
                                                    <p>Все отклоненные</p>
                                                </div>
                                                <div class="icon ml-auto d-block d-lg-none d-xl-block"><i class="fas fa-angle-right fa-2x text-white"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box-item">
                                        <a href="{{ path('moderator_publications') }}">
                                            <div class="d-flex justify-content-center align-items-center other-link server-error-color">
                                                <i class="fas fa-book-open fa-2x text-white" style="margin-left: 2px"></i>
                                                <div class="mr-auto social-link" style="padding-left: 14px">
                                                    <p class="font-weight-medium">Посмотреть всё</p>
                                                    <p>Все публикации</p>
                                                </div>
                                                <div class="icon ml-auto d-block d-lg-none d-xl-block"><i class="fas fa-angle-right fa-2x text-white"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ include('include/footer.html.twig') }}
        </div>
    </body>
</html>