<!DOCTYPE html>
<html lang="ru">
<head>
  {{ include('include/head.html.twig') }}
  <title>{% block title %}Авторизация{% endblock %}</title>
</head>
<body class="authentication">
  {{ include('include/preloader.html.twig') }}

  <section class="container section information authentication__content">
    <form action="{{ path('login') }}" method="post">
      <p class="information__label information__label--center">Вселенная развлечений</p>
      <h2 class="information__title information__title--center">Вход в личный кабинет</h2>
      <p class="information__text information__text--center">Авторизуйтесь, чтобы перейти в личный кабинет Minecraft Cloudy.</p>

      {% if error %}
        <p class="authentication__text authentication__text--error"><i class="far fa-lock"></i>Вы указали неверные данные для входа.</p>
      {% endif %}

      <div class="authentication__inputs">
        <input type="text" id="username" name="_username" class="authentication__input" placeholder="Игровой никнейм" required="" />
        <input type="password" id="password" name="_password" class="authentication__input" placeholder="Пароль от аккаунта" required="" />
      </div>


      <a class="authentication__info authentication__info--left authentication__info--bottom" href="{{ path('send_password_recovery') }}">Забыли пароль от аккаунта?</a>

      <button class="btn btn--primary" type="submit">Авторизоваться</button>

      <p class="authentication__info">Нет аккаунта? <a href="{{ path('register') }}">Нажмите, чтобы создать.</a></p>

      <p class="authentication__footer">CHYZHOV © Minecraft Cloudy, 2022</p>
    </form>
  </section>
</body>