<!DOCTYPE html>
<html lang="ru">
<head>
  {{ include('components/head.html.twig') }}
  <title>{% block title %}Смена пароля{% endblock %}</title>
</head>
<body class="authentication">
{{ include('components/preloader.html.twig') }}
  <section class="container section information authentication__content">
    {{ form_start(recoveryForm) }}
      <p class="information__label information__label--center">Вселенная развлечений</p>
      <h2 class="information__title information__title--center">Восстановление доступа</h2>
      <p class="information__text information__text--center">Придумайте новый пароль, который будет использоваться для входа в аккаунт.</p>

      {% if message %}
        <p class="authentication__text authentication__text--error"><i class="far fa-exclamation-square"></i>{{ message|raw }}</p>
      {% endif %}

      <div class="authentication__inputs">
        <label>
          <span class="authentication__label">Укажите новый пароль</span>
          {{ form_widget(recoveryForm.password, {'attr': {'class': 'authentication__input'}}) }}
        </label>
        <label>
          <span class="authentication__label">Подтверждение пароля</span>
          {{ form_widget(recoveryForm.confirmPassword, {'attr': {'class': 'authentication__input'}}) }}
        </label>
      </div>

      <button class="btn btn--primary" type="submit">Изменить пароль</button>

      <ul class="authentication__list">
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left" href="{{ path('login') }}"><i class="fas fa-user-circle"></i>Войти в существующий аккаунт</a>
        </li>
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left authentication__info--bottom" href="{{ path('register') }}"><i class="fas fa-plus-circle"></i>Создать новый аккаунт</a>
        </li>
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left authentication__info--bottom" href="{{ path('main_page') }}"><i class="fas fa-arrow-circle-left"></i>Вернуться на главную</a>
        </li>
    </ul>
    {{ form_end(recoveryForm) }}
  </section>
</body>