<!DOCTYPE html>
<html lang="ru">
<head>
  {{ include('components/head.html.twig') }}
  <title>{% block title %}Регистрация аккаунта{% endblock %}</title>
</head>
<body class="authentication">
{{ include('components/preloader.html.twig') }}
  <section class="container section information authentication__content">
    {{ form_start(registrationForm) }}
      <p class="information__label information__label--center">Вселенная развлечений</p>
      <h2 class="information__title information__title--center">Регистрация аккаунта</h2>
      <p class="information__text information__text--center">Для регистрации нового аккаунта необходимо заполнить все поля.</p>

      {% if message %}
        <p class="authentication__text authentication__text--error"><i class="far fa-exclamation-square"></i>{{ message|raw }}</p>
      {% endif %}

      <div class="authentication__inputs">

        <label>
          <span class="authentication__label">Игровой никнейм</span>
          {{ form_widget(registrationForm.username, {'attr': {'class': 'authentication__input'}}) }}
        </label>

        <label>
          <span class="authentication__label">Пароль от аккаунта</span>
          {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'authentication__input'}}) }}
        </label>

        <label>
          <span class="authentication__label">Электронная почта</span>
          {{ form_widget(registrationForm.email, {'attr': {'class': 'authentication__input'}}) }}
        </label>
      </div>

      <button class="btn btn--primary" type="submit">Создать аккаунт</button>

      <ul class="authentication__list">
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left" href="{{ path('send_password_recovery') }}"><i class="fas fa-question-circle"></i>Восстановить доступ к аккаунту</a>
        </li>
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left" href="{{ path('login') }}"><i class="fas fa-user-circle"></i>Войти в существующий аккаунт</a>
        </li>
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left authentication__info--bottom" href="{{ path('main_page') }}"><i class="fas fa-arrow-circle-left"></i>Вернуться на главную</a>
        </li>
    </ul>
    {{ form_end(registrationForm) }}
  </section>
</body>