<!DOCTYPE html>
<html lang="ru">
<head>
  {{ include('include/head.html.twig') }}
  <title>{% block title %}Регистрация аккаунта{% endblock %}</title>
</head>
<body class="authentication">
{{ include('include/preloader.html.twig') }}
  <section class="container section information authentication__content">
    {{ form_start(registrationForm) }}
      <p class="information__label information__label--center">Вселенная развлечений</p>
      <h2 class="information__title information__title--center">Регистрация аккаунта</h2>
      <p class="information__text information__text--center">Для регистрации нового аккаунта необходимо заполнить все поля.</p>

      {% if message %}
        <p class="authentication__text authentication__text--error"><i class="far fa-exclamation-square"></i>{{ message|raw }}</p>
      {% endif %}

      <div class="authentication__inputs authentication__inputs--bottom">
        {{ form_widget(registrationForm.username, {'attr': {'class': 'authentication__input', 'placeholder': 'Укажите ваш никнейм'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'authentication__input', 'placeholder': 'Придумайте пароль'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'authentication__input', 'placeholder': 'Введите электронную почту'}}) }}
      </div>

      <button class="btn btn--primary" type="submit">Создать аккаунт</button>

      <p class="authentication__info">Есть аккаунт? <a href="{{ path('login') }}">Нажмите, чтобы войти.</a></p>

    <p class="authentication__footer">CHYZHOV © Minecraft Cloudy, 2022</p>
    {{ form_end(registrationForm) }}
  </section>
</body>