<!DOCTYPE html>
<html lang="ru">
<head>
  {{ include('components/head.html.twig') }}
  <title>{% block title %}Восстановление пароля{% endblock %}</title>
</head>
<body class="authentication">
{{ include('components/preloader.html.twig') }}
  <section class="container section information authentication__content">
    {{ form_start(recoveryForm) }}
      <p class="information__label information__label--center">Вселенная развлечений</p>
      <h2 class="information__title information__title--center">Восстановление доступа</h2>
      <p class="information__text information__text--center">Восстановление доступа к аккаунту происходит через электронную почту.</p>

      {% if message %}
        <p class="authentication__text authentication__text--error"><i class="far fa-exclamation-square"></i>{{ message|raw }}</p>
      {% endif %}

      {% if success == 1 %}
        <p class="authentication__text authentication__text--success">Мы выслали на вашу почту письмо с инструкциями для восстановления доступа к аккаунту. Обратите внимание, сброс пароля доступен только в течение одного часа.</p>
        {{ form_widget(recoveryForm.email, {'attr': {'class': 'display-none'}}) }}
      {% else %}
        <div class="authentication__inputs">
          <label>
            <span class="authentication__label">Электронная почта</span>
            {{ form_widget(recoveryForm.email, {'attr': {'class': 'authentication__input'}}) }}
          </label>
        </div>

        <button class="btn btn--primary" type="submit">Отправить письмо</button>
      {% endif %}

      <ul class="authentication__list">
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left" href="{{ path('login') }}"><i class="fas fa-user-circle"></i>Войти в существующий аккаунт</a>
        </li>
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left authentication__info--bottom" href="{{ path('register') }}"><i class="fas fa-plus-circle"></i>Создать новый аккаунт</a>
        </li>
        <li class="authentication__item">
          <a class="authentication__info authentication__info--left authentication__info--bottom" href="{{ path('main_page') }}"><i class="fas fa-arrow-circle-left"></i>Вернуться на главную</a>
        </li>
    </ul>
    {{ form_end(recoveryForm) }}
  </section>
</body>