<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}Восстановление пароля{% endblock %}</title>
</head>
<body>
    {{ message }}
    {{ form_start(changePassword) }}
        {{ form_widget(changePassword.password) }}
        {{ form_widget(changePassword.confirmPassword) }}
        <button type="submit">Submit</button>
    {{ form_end(changePassword) }}
</body>