<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}Города игроков{% endblock %}</title>
</head>
<body>
    {% if lands|length > 0 %}
        {% for land in lands %}
            {% if land.type == 0 %}
                #{{ land.id }} — {{ land.name }}
                Количество жителей в городе: {{ land.membersQuantity }}
                Координаты расположения: {{ land.location.x|round }}, {{ land.location.y|round }}, {{ land.location.z|round }}
                Баланс казны города: {{ land.balance }} Фрупий
                Дата создания города: {{ land.createdAt }}
                {{ land.owner }} — Правитель города
            {% endif %}
        {% endfor %}
    {% endif %}
</body>