<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}{{ land.name }}{% endblock %}</title>
</head>
<body>
    #{{ land.id }} — {{ land.name }}
    Количество жителей в городе: {{ land.membersQuantity }}
    Координаты расположения: {{ land.location.x|round }}, {{ land.location.y|round }}, {{ land.location.z|round }}
    Баланс казны города: {{ land.balance }} Фрупий
    Дата создания города: {{ land.createdAt }}
    {{ land.owner }} - Правитель города
</body>