<header class="header">
  <nav class="navbar container">
    <a class="logo" href="{{ path('main_page') }}">
      <img class="logo__image" src="https://mc-cloudy.com/public/favicon.ico" alt="Logo" draggable="false" />
      <div class="logo__text">
        <p class="logo__title">CLOUDY</p>
        <p class="logo__subtitle">Minecraft Project</p>
      </div>
    </a>

    <button type="button" class="navbar__button">
      <svg id="bars" width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1C0 0.447715 0.447715 0 1 0H21C21.5523 0 22 0.447715 22 1C22 1.55228 21.5523 2 21 2H1C0.447716 2 0 1.55228 0 1ZM0 7C0 6.44772 0.447715 6 1 6H21C21.5523 6 22 6.44772 22 7C22 7.55228 21.5523 8 21 8H1C0.447716 8 0 7.55228 0 7ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447716 14 1 14H21C21.5523 14 22 13.5523 22 13C22 12.4477 21.5523 12 21 12H1Z" fill-rule="evenodd" clip-rule="evenodd" fill="#79797A"></path></svg>
      <i id="times" class="navbar__icon far fa-times"></i>
    </button>

    <div class="navbar__content">
      <div class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link {% if app.request.attributes.get('_route') starts with 'main_page' %} nav__link--active {% endif %}" href="{{ path('main_page') }}">
              <span class="nav__icon"><i class="fas fa-home"></i></span>
              <span class="nav__label">Главная страница</span>
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link {% if app.request.attributes.get('_route') starts with 'rules' %} nav__link--active {% endif %}" href="{{ path('rules') }}">
              <span class="nav__icon"><i class="fas fa-heart"></i></span>
              <span class="nav__label">Правила сервера</span>
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link {% if app.request.attributes.get('_route') starts with 'support' or app.request.attributes.get('_route') starts with 'user_reports' or app.request.attributes.get('_route') starts with 'create_report' or app.request.attributes.get('_route') starts with 'user_report_info' or app.request.attributes.get('_route') starts with 'user_update_report' %} nav__link--active {% endif %}" href="{{ path('support', {'page': 'main'}) }}">
              <span class="nav__icon"><i class="fas fa-headset"></i></span>
              <span class="nav__label">Служба поддержки</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar__profile">
        {% if not app.user %}
          <a href="{{ path('login') }}" class="btn btn--primary">
            Авторизоваться
          </a>
        {% else %}
          <a href="{{ path('profile') }}" class="btn btn--primary">
            Личный кабинет
          </a>
          <a href="{{ path('logout') }}" class="btn btn--secondary">
            <i class="far fa-power-off"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>